#about {
    text-align: justify;
    width: 100%;
    height: auto;
    background: #ffffff;
    font-family: sans-serif;
    display: flex;
  justify-content: space-between;
  align-items: center;
  }

 /* #about .photo {
  width: 450px;
  height: 450px;
  background: #000;
  align-items: center;
 } */
  
 #about img 
 {
  margin-top: 50px;
  margin-left: 20px;
  width: 450px;
  height: 450px; 
 }


 #about .text {
  margin: 20px;
 }
  #about h2 
  {
    font-size: 2.2em;
    padding: 20px; 
  }
  
  #about p {
    /* top: -100px; */
    /* Optional: Add additional styling for the paragraph */
    line-height: 1.5; /* Adjust line height for better readability */
    max-width: 1000px; /* Set a maximum width for the paragraph */
    margin: 0 auto; /* Center the paragraph within its container */
    font-size: 1.3em;
  }

  #about .paper {
    margin-top: 10px;
  }

  #about a {
    font-size: 0.8em;
    margin-top: 10px;
    color: #000;
  }

  #about a:hover {
    color: blue;
  }
  
  #about .paper p {
    font-size: 1.1em;
  }

  @media (max-width: 768px) {
    #about {
      text-align: justify;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: auto;
      height: auto;
    }
     
    #about img {
      /* margin-top: -5px; */
      margin-right: 24px;
      width: 350px;
      height: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #about .text {
      margin: 0;
     }

    #about p {
      /* Optional: Add additional styling for the paragraph */
      line-height: 1.6; /* Adjust line height for better readability */
      max-width: 800px; /* Set a maximum width for the paragraph */
      margin: 0 auto; /* Center the paragraph within its container */
      font-size: 1em;
      padding: 10px;
    }
    }

    @media (min-width: 779px) and (max-width: 1033px)
    {  
         #about {
      text-align: justify;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: auto;
      height: auto;
    }
     
    #about img {
      /* margin-top: -5px; */
      margin-right: 24px;
      width: 350px;
      height: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
      
    }
    @media (min-width: 1034px) and (max-width: 1500px) {
       #about {
        /* background: yellow; */
       }
       #about img 
       {
        margin-top: 50px;
        margin-left: 20px;
        width: 100%;
        height: 100%; 
       }
  

       #about .text p {
        
        /* font-size: 1em; */
       }
    }